<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>等比缩放的div</title>
	<link type="text/css" rel="stylesheet" media="all" href="./index.css">
</head>

<body>
	<div class="chatgpt_enhance">
		<div class="box">
			<label for="select1">选择1：</label>
			<select id="select1">
				<option value="1">选项1</option>
				<option value="2">选项2</option>
				<option value="3">选项3</option>
			</select>
		</div>
		<div class="chatgpt_enhance box">
			<label for="select2">选择2：</label>
			<select id="select2">
				<option value="1">选项1</option>
				<option value="2">选项2</option>
				<option value="3">选项3</option>
			</select>
		</div>
		<div class="box">
			<label for="select3">选择3：</label>
			<select id="select3">
				<option value="1">选项1</option>
				<option value="2">选项2</option>
				<option value="3">选项3</option>
			</select>
		</div>
	</div>
	<script>
		const StringUtils = {
			replaceTemplate(template, variables) {
				const pattern = /\$\{(\w+)\}/g;
				let result = template.replace(pattern, function (match, variable) {
					return variables[variable];
				});

				const ifPattern = /\{\{\s*if\s+(.+?)\s*\}\}([\s\S]*?)\{\{\s*endif\s*\}\}/g;
				let replacedResult = '';
				let startIndex = 0;
				let match;
				while (match = ifPattern.exec(result)) {
					const [ifBlock, condition, codeBlock] = match;
					const replacedCondition = condition.replace(pattern, function (match, variable) {
						return variables[variable];
					});
					// const shouldInclude = eval(replacedCondition);
					//const shouldInclude = doEval(replacedCondition, ...Object.values(variables));
					const shouldInclude = new Function('replacedCondition',...Object.keys(variables), "return eval(replacedCondition)")(replacedCondition, ...Object.values(variables));
					// const shouldInclude = doEval(replacedCondition, ...Object.values(variables));
					const endIndex = match.index;
					replacedResult += result.substring(startIndex, endIndex);
					if (shouldInclude) {
						const replacedCodeBlock = codeBlock.replace(pattern, function (match, variable) {
							return variables[variable];
						});
						const nestedResult = this.replaceTemplate(replacedCodeBlock, variables);
						replacedResult += nestedResult;
					}
					startIndex = ifPattern.lastIndex;
				}
				replacedResult += result.substring(startIndex);

				return replacedResult;
			}
		}
		const variables = {
			language: "xxx",
			tone: "1",
			style:"11"
		}
		const text = "Your task is to rewrite the entire text in better words and make it unique with natural language.output shall be in ${language}. The text to rewrite it is this:${prompt}\n{{ if (tone != null && tone != '') }}Please write in ${tone} tone.{{ endif }}{{ if (style) }}${style} writing style{{ endif }}."
		const s = StringUtils.replaceTemplate(text, variables);
		console.log(s)
	</script>
</body>

</html>